body 
{
    color: black;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0px;
    padding: 5px 5px 5px 5px;
    box-shadow: 0px 0px 5px 0px;
    font-family: open-sans;
}
header {
    margin: auto 40%;
}
header h1
{
    text-align: right;
    font-family: 'Mansalva', cursive; !important
    font-size: 25em;
}
header img {
    text-align: left;
    margin-left: 5%;
    vertical-align: bottom;
}

img
{
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0px 0px 5px -2px;
}
a
{
    color: black;
    text-decoration: none;
}
hr
{
    width:20%
}
  #navigation li
{
    text-align: center;
    display: inline;
}
#menu1 {
    text-align: center;
    
}
#menu1 li {
    margin-left: 2%;
    margin-top: 5% ;
    float: left;

}
#menu1 li:hover {
    background-color: aquamarine;
    box-shadow: 0px 0px 5px -2px;
}
#menu1 li a {
    display: block;
    border-radius: 5Px 5px 5px 5px;
    background-color: chartreuse;
    padding: 5px 5px 5px 5px;
}
#menu1 ul {
    display: inline;
}
#etudes {
    clear: both;
    width: 100%
}

section {
    margin-left
}
